body {
    background-color: #085f51;
    color: rgb(232, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

button {
    background-color: #38c28d;
    color: rgb(19, 16, 16);
    font-family: "Bai Jamjuree", sans-serif;
}

 
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 40%;
}